@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.Main .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}
.Main .container .box{
    position: relative;
    width: 450px;
    height: 320px;
    background: #000;
}
.Main .container .box .videoBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.Main .container .box .videoBx video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Main .container .box .contentBx{
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.95);
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
}
.Main .container .box:hover .contentBx{
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}
.Main .container .box .contentBx .content{
    position: relative;
    padding: 20px 60px;
    opacity: 0;
}
.Main .container .box:hover .contentBx .content{
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.Main .container .box .contentBx .content h2{
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}
.Main .container .box .contentBx .content p{
    color: #fff;
    font-weight: 300;
}