@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.Main section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/portfolio/add/Double_exposure_1.jpg), url(/portfolio/add/Double_exposure_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}