@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.Main
{
    overflow: hidden;
    height: 100vh;
    background: #000;
}
span
{
	position: absolute;
	background: url(/portfolio/add/Heart_heart.png);
	background-size: cover;
	pointer-events: none;
	transform: translate(-50%,-50%);
	animation: animate 2s linear infinite;
}
@keyframes animate
{
	0%
	{
		transform: translate(-50%,-50%);
		opacity: 1;
		filter: hue-rotate(0deg);
	}
	100%
	{
		transform: translate(-50%,-1000%);
		opacity: 0;
		filter: hue-rotate(720deg);
	}
}