/*SCSS*/
/*$colors: #662d8c, #009245, #2e3192, #ed1c24;
.Main{
    height: 100vh;
    color: #fff; 
    font-family: 'Sedgwick Ave Display', cursive;
    overflow: hidden;
}
input{
    display: none;
}
@for $i from 1 through length($colors) {
    input#section#{$i}:checked ~ nav label[for='section#{$i}']{
        background-color: #fff;
    }

    input#section#{$i}:checked ~ section:nth-of-type(#{$i}){
        top: 0;
        transition: 0.5s ease;
        z-index: 1;
    }

    input#section#{$i}:checked ~ .cover {
        background-color: nth($colors, $i);
    }
}

nav{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    label{
        display: block;
        width: 14px;
        height: 14px;
        margin: 12px 0;
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover{
            background-color: #fff;
        }
    }
}
.Main section{
    position: absolute;
    bottom: 100%;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-delay: 0.5s;

    @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
            background-color: nth($colors, $i);
        }
    }

    h2{
        font-size: 140px;
        text-align: center;
        letter-spacing: 5px;
        color: #fff;
    }
}
.cover{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}*/
/*CSS*/
.Main {
    height: 100vh;
   /*color: #fff;
   */
    font-family: 'Sedgwick Ave Display', cursive;
    overflow: hidden;
}
input {
    display: none;
}
input#section1:checked ~ nav label[for="section1"] {
    background-color: #fff;
}
input#section1:checked ~ section:nth-of-type(1) {
    top: 0;
    transition: 0.5s ease;
    z-index: 1;
}
input#section1:checked ~ .cover {
    background-color: #662d8c;
}
input#section2:checked ~ nav label[for="section2"] {
    background-color: #fff;
}
input#section2:checked ~ section:nth-of-type(2) {
    top: 0;
    transition: 0.5s ease;
    z-index: 1;
}
input#section2:checked ~ .cover {
    background-color: #009245;
}
input#section3:checked ~ nav label[for="section3"] {
    background-color: #fff;
}
input#section3:checked ~ section:nth-of-type(3) {
    top: 0;
    transition: 0.5s ease;
    z-index: 1;
}
input#section3:checked ~ .cover {
    background-color: #2e3192;
}
input#section4:checked ~ nav label[for="section4"] {
    background-color: #fff;
}
input#section4:checked ~ section:nth-of-type(4) {
    top: 0;
    transition: 0.5s ease;
    z-index: 1;
}
input#section4:checked ~ .cover {
    background-color: #ed1c24;
}
nav {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
nav label {
    display: block;
    width: 14px;
    height: 14px;
    margin: 12px 0;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}
nav label:hover {
    background-color: #fff;
}
.Main section {
    position: absolute;
    bottom: 100%;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-delay: 0.5s;
}
.Main section:nth-of-type(1) {
    background-color: #662d8c;
}
.Main section:nth-of-type(2) {
    background-color: #009245;
}
.Main section:nth-of-type(3) {
    background-color: #2e3192;
}
.Main section:nth-of-type(4) {
    background-color: #ed1c24;
}
.Main section h2 {
    font-size: 140px;
    text-align: center;
    letter-spacing: 5px;
    color: #fff;
}
.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
