@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
.Main section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.Main section .content{
    text-align: center;
}
.Main section .content h2{
    font-size: 24vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1em;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
}
.Main section:nth-child(1) .content h2{
    background-image: url(/portfolio/add/Parallax_scroll_clip-mask_fire.jpg);
}
.Main section:nth-child(2) .content h2{
    background-image: url(/portfolio/add/Parallax_scroll_clip-mask_water.jpg);
}
.Main section:nth-child(3) .content h2{
    background-image: url(/portfolio/add/Parallax_scroll_clip-mask_ice.jpg);
}
.Main section:nth-child(4) .content h2{
    background-image: url(/portfolio/add/Parallax_scroll_clip-mask_sand.jpg);
}
.Main section .content p{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}
.Main section .content a{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    margin-top: 20px;
}